		<!-- TOP BAR -->
		<div id="topBar">
			<div class="container">
				<span class="hidden-xs">Добро пожаловать: kreml500@rambler.ru</span> 
				8-920-293-10-50
				<span class=" pull-right"><%= "Здравствуйте, #{current_user.name}" if current_user %> </span> 
  <% if current_user.role == "admin" %>
  	<%= link_to 'Admin', rails_admin_path %></li>
  <% end %>
				<div class="btn-group pull-right">
					<button class="dropdown-toggle language" type="button" data-toggle="dropdown">
						Логин <span class="caret"></span>
					</button>

					<ul class="dropdown-menu">
						<li>
							<%= link_to "<i class='fa fa-user'></i> Логин".html_safe, new_user_session_path %>
						</li>
						<li>
							<%= link_to "<i class='fa fa-key'></i> Регистрация".html_safe, new_user_registration_path %>
						</li>
						<li class="divider"></li>

						<% if current_user %>
						<li>
							<%= link_to "<i class='fa fa-power-off'></i> Выход".html_safe, destroy_user_session_path, :method => :delete, :disable_with => "Подождите..." %>
						</li>
						<% end %>
					</ul>
				</div>


				<!-- 
					LINKS - A MENU ALTERNATIVE
					Do not use this for responsive - too many links.
					If you want to use it, add class: hidden-xs
					Or use it instead of language / my account
				-->
				<!-- 
				<ul class="pull-right list-unstyled links">
					<li><a href="#"><i class="fa fa-user"></i> Login</a></li>
					<li><a href="#"><i class="fa fa-user"></i> Register</a></li>
				</ul>
				-->

			</div>
		</div>
		<!-- /TOP BAR -->




		<!-- HEADER -->
		<header id="header">
			<div class="container">

				<!-- LOGO -->
				<a href="/index.html" class="logo"><img alt="" src="/images/logo.png" height="60" /></a>
				<!-- LOGO -->

				<!-- OPTIONS -->
				<ul id="topOptions">

					<li>
						<div class="button topShopCart fa fa-shopping-cart">
							<span class="items on"><!-- add class "on" for active -->3 покупки</span>
							<div id="topCart" class="nicescroll">
								<p><b>Total: &euro;1220</b></p>
								<a href="shop-single.html" class="item">
									<img src="assets/images/demo/shop/small/1.jpg" width="40" alt="" />
									<p>Elipsis - Very long title to see how it works</p>
									<span>2 x &euro;250</span>
								</a>
								<a href="shop-single.html" class="item">
									<img src="assets/images/demo/shop/small/2.jpg" width="40" alt="" />
									<p>Extr cool ipad for your family</p>
									<span>1 x &euro;250</span>
								</a>
								<a href="shop-single.html" class="item">
									<img src="assets/images/demo/shop/small/3.jpg" width="40" alt="" />
									<p>Extr cool ipad for your family</p>
									<span>1 x <span class="line-through">&euro;250</span> &euro;220</span>
								</a>

								<div class="bottom">
									<a href="shop-checkout.html" class="btn">PROCEED TO CHECKOUT</a>
									<a href="shop-cart.html">View your cart (3 items)</a>
								</div>
							</div>
						</div>
					</li>
					<li><!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>
					</li>
				</ul>
				<!-- /OPTIONS -->


				<!-- TOP MENU -->
				<div class="navbar-collapse nav-main-collapse collapse pull-left">
					<nav class="nav-main">
						<ul class="nav nav-pills nav-main scroll-menu" id="topMain">

							<li class="active">
								<%= link_to "ГЛАВНАЯ", root_path, :class => "dropdown-toggle" %>
							</li>

							<li class="">
								<%= link_to "НОВОСТИ", posts_path, :class => "dropdown-toggle" %>
							</li>

							<li class="dropdown">
								<a class="dropdown-toggle" href="#">О ПРОЕКТЕ <i class="fa fa-angle-down"></i></a>
								<ul class="dropdown-menu">
									<li><a href="/about.html">Справка</a></li>
									<li><a href="/program.html">Программа</a></li>
									<li><a href="/history.html">История мероприятия</a></li>
								</ul>
							</li>

							<li class="">
								<%= link_to "ГАЛЕРЕЯ", "/gallery.html", :class => "dropdown-toggle" %>
							</li>

							<li class="">
								<%= link_to "МАГАЗИН", products_path, :class => "dropdown-toggle" %>
							</li>

							<li class="">
								<%= link_to "ПАРТНЁРЫ", "/partners.html", :class => "dropdown-toggle" %>
							</li>

							<li class="">
								<%= link_to "ИНТЕРАКТИВНАЯ ВЫСТАВКА", "/show.html", :class => "dropdown-toggle" %>
							</li>

							<li class="">
								<%= link_to "КОНТАКТЫ", "/contacts.html", :class => "dropdown-toggle" %>
							</li>

						</ul>
					</nav>
				</div>
				<!-- /TOP MENU -->

			</div>
		</header>
		<!-- /HEADER -->