		<div id="middle" class="container">
			<div class="white">

				<header class="page-header">
					<h1>Регистрация</h1>
				</header>

					<div class="row">

						<!-- REGISTER -->
						<div class="col-md-6">

							<h4>Создайте <strong>Аккаунт</strong></h4>

							<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  								

								<div class="row">
									<div class="form-group">
										<div class="col-md-6">
											<label>Имя</label>
											<%= f.text_field :name, :class => "form-control", :placeholder => "Имя", :required => "required" %>
										</div>
										<div class="col-md-6">
											<label>Фамилия</label>
											<%= f.text_field :lastname, :class => "form-control", :placeholder => "Фамилия", :required => "required" %>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="form-group">
										<div class="col-md-12">
											<label>E-mail</label>
											<%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "E-mail" %>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="form-group">
										<div class="col-md-6">
											<label>Пароль</label>
											<%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "Пароль" %>
										</div>
										<div class="col-md-6">
											<label>Повторите пароль</label>
											<%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", :placeholder => "Повторите пароль" %>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<%= f.submit "Регистрация", :class => "btn btn-primary pull-right push-bottom" %>
									</div>
								</div>

							<% end %>

						</div>
						<!-- /REGISTER -->

						<!-- WHY? -->
						<div class="col-md-6">

							<h4>Зарегистрироваться через социальные сети</h4>

							<p>Вы можете привязать Ваш аккаунт в социальных сетях:</p>
							<ul class="list-icon check">
								<li><%= link_to "Вконтакте", "/index.html" %></li>
								<li><%= link_to "Facebook", "/index.html" %></li>
							</ul>


						</div>

					</div>


				<hr />

				<!-- CALLOUT -->
<%= render '/shared/doit' %>


			</div>
		</div>