		<div id="middle" class="container">
			<div class="white">

				<header class="page-header">
					<h1>Регистрация</h1>
				</header>

					<div class="row">

						<!-- REGISTER -->
						<div class="col-md-6">

							<h4>Создайте <strong>Аккаунт</strong></h4>

							<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  								

								<!-- alert failed -->
								<div class="alert alert-danger">
									<%= devise_error_messages! %>
								</div>

								<div class="row">
									<div class="form-group">
										<div class="col-md-6">
											<label>Имя</label>
											<input type="text" value="" class="form-control">
										</div>
										<div class="col-md-6">
											<label>Фамилия</label>
											<input type="text" value="" class="form-control">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="form-group">
										<div class="col-md-12">
											<label>E-mail</label>
											<%= f.email_field :email, autofocus: true, :class => "form-control" %>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="form-group">
										<div class="col-md-6">
											<label>Пароль</label>
											<%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
										</div>
										<div class="col-md-6">
											<label>Повторите пароль</label>
											<%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<%= f.submit "Регистрация", :class => "btn btn-primary pull-right push-bottom" %>
									</div>
								</div>

							<% end %>

						</div>
						<!-- /REGISTER -->

						<!-- WHY? -->
						<div class="col-md-6">

							<h4>Моментальная регистрация</h4>

							<p>Зарегистрировавшись, вы сможете:</p>
							<ul class="list-icon check">
								<li>Совершать покупки.</li>
								<li>Общаться с пользователями.</li>
								<li>Узнавать новости.</li>
							</ul>


						</div>

					</div>


				<hr />

				<!-- CALLOUT -->
<%= render '/shared/doit' %>


			</div>
		</div>