          <!-- RIGHT COLUMN -->
          <div class="col-md-3">


            <!-- blog search -->
            <div class="widget">

              <h3>ПОИСК</h3>

              <%= form_tag posts_path, :method => 'get', :class => 'input-group' do %>
                <%= text_field_tag :search, params[:search], :class => "form-control", :id => "s", :placeholder => "Искать" %>
                <span class="input-group-btn">
                  <%= button_tag(type: "submit", class: "btn btn-primary") do %>
                    <i class='fa fa-search'></i>
                  <% end %>
                </span>
              <% end %>
            </div>

            <!-- blog search -->
            <div class="widget">

              <h3>ТЭГИ</h3>

              <% if @tags.count > 0 %>
              <%= raw @tags.map { |t| link_to "<span class='label label-default light'>#{t}</span>".html_safe, tag_path(:tag => t.name) }.join(' ') %>
              <% else %>
              <p>Нет ни одного тэга</p>
              <% end %>

            </div>

            <!-- RECENT,POPULAR -->
            <div class="widget">

              <!-- TABS -->
              <div class="tabs nomargin-top">

                <!-- tabs -->
                <ul class="nav nav-tabs">
                  <li class="active">
                    <a href="#tab1" data-toggle="tab">
                      Последние новости
                    </a>
                  </li>

                </ul>

                <!-- tabs content -->
                <div class="tab-content">
                  <div id="tab1" class="tab-pane active">

                    <ul>
                      <% Post.order("created_at DESC").limit(10).each do |post| %>
                      <li><%= link_to "<i class='fa fa-sign-out'></i> #{post.name}".html_safe, post %><small><%= Russian::strftime(post.created_at, "%d %B %Y / %H:%M") %></small></li>
                      <% end %>
                    </ul>
                  </div>
                </div>

              </div>
              <!-- /TABS -->

            </div>
            <!-- /RECENT,POPULAR -->




          </div>
          <!-- /RIGHT COLUMN -->