    <!-- BLOG -->
    <link href="/css/blog.css" rel="stylesheet" type="text/css" />

		<div id="middle" class="container">
			<div class="white">

				<header class="page-header">
					<h1><%= @post.name %></h1>
					<span class="label label-default light"><%= Russian::strftime(@post.created_at, "%d %B, %Y") %></span>
				</header>

				<div id="blog" class="row">

					<!-- LEFT COLUMN -->
					<div class="col-md-9">

						
						<%= image_tag @post.picture_url, :class => "img-responsive", :alt => "#{@post.name}" %>

						<!-- article content -->
						<article>
							<p class="dropcap"><%= @post.text.html_safe %></p>
						</article>


						<!-- SOCIAL -->
						<p class="socials">
							<a href="#" class="rounded-icon social fa fa-facebook"><!-- facebook --></a>
							<a href="#" class="rounded-icon social fa fa-twitter"><!-- twitter --></a>
							<a href="#" class="rounded-icon social fa fa-google-plus"><!-- google plus --></a>
							<a href="#" class="rounded-icon social fa fa-pinterest"><!-- pinterest --></a>
							<a href="#" class="rounded-icon social fa fa-linkedin"><!-- linkedin --></a>
						</p>

					<%= link_to "Назад", :back %>
						<div class="divider half-margins"><!-- divider 30px --></div>



					</div>
					<!-- /LEFT COLUMN -->


          <%= render 'rightcolumn' %>

				</div>

			</div>
		</div>
